*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore build directory
/build
/app/build

# Ignore specific Java files
/app/src/main/java/com/trailbuddyapp/TrailDetailActivity.java
/app/src/main/java/com/trailbuddyapp/Trail.java
/app/src/main/java/com/trailbuddyapp/TrailListAdapter.java
/app/src/main/java/com/trailbuddyapp/TrailListActivity.java
